/* use _Flex_Box.html */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 
    repeat(9, 1fr);
    grid-auto-rows: 50px auto 75px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd "
    "mn mn mn mn mn mn mn sb sb "
    "ft ft ft ft ft ft ft ft ft ";
    column-gap: 0.5rem;
}

.el{
    background-color: rebeccapurple;
    color: #fff;
    display: grid;
    place-content: center;
}

.header{
    grid-area: hd;
}

.sidebar{
    grid-area: sb;
    background-color: #00f;
}
.footer{
    grid-area: ft;
}

.container{
    grid-area: mn;
    min-height: 400px;
    display: grid;
    /* grid-template-columns: 200px 1fr 1fr; */

    grid-template-columns:
    repeat(2,1fr,2fr);
    grid-auto-rows:
     minmax(150px,auto);
    /* row-gap: 1rem; */
    gap: 1rem;
}

.box{

    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
}

.box:first-child{
    background-color: #00f;
    /* grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3; */        /* we display like well ******IMP***** */
    grid-column: 1 / 4;
    grid-row: 1 /3;

    display: grid;
    align-content: end;    /* name inside box-1 */
    place-content: end center;   /* show in below & center */
    place-content: center;

}

.box:nth-child(2){
    background-color: red;
    grid-column: 1 / 5;
    grid-row: 3 /4;
}