body{
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

.poster{
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    margin-left: 25%;
    width: 50%;
}

.motivation-img{
    border: 10px solid white;
    width: 100%;
}