body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container{
   width: 800px;
   height: 200px;
   display:flex;
   flex-direction:row;/*row,col,row-rev,col-rev in aboe right or left in boxes at container*/
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   align-content: flex-end;
}
#box1{
    background-color: aqua;
    height: 100px;
}
#box2{
    background-color: red;
  height: 150px;
}
#box3{
    background-color: yellow;
}
#box4{
    background-color: blue;
}
#box5{
    background-color: aquamarine;
}