@import url("https://fonts.googleapis.com/css2?family=Numito&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: blcok;
    max-width: 100%;
    height: auto;
}
.nowrap{
    white-space: nowrap;
}
body{
    font: 1.5rem "Nunito",sans-serif;
    min-height: 100vh;
    background-color: #475569;
    background-image: radial-gradient(whitesmoke,#475569);
    display: flex;
    flex-direction: column;
}
header,
nav,
main,
footer{
    position: sticky;
    background-color: #1e293b;
    color: whitesmoke;
    text-align: center;
}

header{
    top:0;
}
nav{
    background-color: #fff;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}
nav a,
nav a:visited{
    color: #000;

}
nav a:hover, nav a:focus{
color: hsla(0,0%,20%,0.6);
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}
footer{
    bottom: 0;
}
