/*first practice*/
/*#box{
    background-color: burlywood;
   color:blue;
}
h1,h2,h3{
    color:red;
}
button{
    background-color: green;
}*/

/*second practices*/
/** {
    font-family: "Times New Roman";
}
h1{
    text-align: center;
    text-transform: capitalize;/*first letter capital
    
#outer{
    font-size: 50px;
}
#inner{
    font-size: 25px;
}*/

/*practice-3*/

/*div{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    border-style: double;
    text-align: center;
}
*/
