*{
    color:red;
}
h1{
    color:red;
}
button{
    color:blue;
}
#headingOne {
    color:orange;
}
#headingTwo {
    color:red;
}
#headingThree {
    color:green;
}
#heading {  
     color:black;
}
